body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background-color: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.container {
    margin: 0 auto;
    box-sizing: border-box;
}

.container header {
    padding: 56px 65px 56px 65px;
}

.logosearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 399px;
}

.FamilyMart {
    width: 100%;
}

.searchborder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    width: 232px;
    height: 75px;
    border: 2px solid #000000;
    border-radius: 22px;
}

.searchlogo {
    width: 45px;

}

.search {
    width: 100%;
    margin: 15px 5px 5px 15px;

}

.mart {
    text-decoration: none;
    color: gray;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.main {
    margin-top: 16px;
}

.bannebrorder {
    border: 3px solid #DC7700;
    border-radius: 120px;
    padding: 24px;
    margin: 0px 65px 0px 65px;
}

.bannebrorder img {
    border-radius: 120px;
}


.yellowbanner {
    background: #FFECA8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.yellowbanner .title {
    position: relative;
}

.yellowbanner .title .display {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.26em;

    color: #FFB0B0;
}

.yellowbanner .title .shadow {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.26em;

    color: rgba(79, 68, 143, 0.8);
    ;
}

.yborder {
    background: rgba(255, 255, 255, 0.8);
    width: 1790px;
    box-shadow: inset 5px 5px 30px rgba(0, 0, 0, 0.4);
    border-radius: 81px;
    display: flex;
    padding-bottom: 232px;
    justify-content: space-evenly;
    padding-top: 96px;
}

.card {
    position: relative;
    width: 604px;
    height: 604px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caramel .cirbor {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 16px;
    border: 3px solid #FFB321;
}

.rose .cirbor {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 16px;
    border: 3px solid #FF218C;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.card .new {
    position: absolute;
    top: 8px;
    left: -32px;
    font-size: 48px;
    transform: rotate(-11.15deg);
    background: linear-gradient(90deg, #FDDB92 0%, #D1FDFF 100%);
    box-shadow: 7px 5px 6px 3px rgba(0, 0, 0, 0.25);
    border-radius: 103px;
    line-height: 0px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}

.footer .title {
    position: relative;
}

.footer .title .display {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.26em;

    color: #ffffff;
}

.footer .title .shadow {
    position: absolute;
    top: -50px;
    left: 4px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.26em;

    color: rgba(79, 68, 143, 0.8);
}

.icecream {
    width: 1790px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 128px;
}

.flavor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
    height: 425px;
}

.flavor p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.flavor .minicirbor {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 7px;
    border: 3px solid #FF218C;
}

.flavor img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}